<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025806225881-hkonndeeqn9ud598s08m5knb12gn0e2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025806225881-hkonndeeqn9ud598s08m5knb12gn0e2b</string>
	<key>API_KEY</key>
	<string>AIzaSyCAONwvVFWZH54YRShzzg7fEzzAeBRq0cY</string>
	<key>GCM_SENDER_ID</key>
	<string>1025806225881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.householdExpensesAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>householdexpenses-5e1f9</string>
	<key>STORAGE_BUCKET</key>
	<string>householdexpenses-5e1f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025806225881:ios:36ded232a9fcd42b0a09c8</string>
</dict>
</plist>